<nz-menu nzMode="horizontal" class="w-full flex justify-between items-center">
  <div class="flex items-center gap-4">
    <nz-menu-item>
      <a class="ant-dropdown-link" [routerLink]="'/products'">Products</a>
    </nz-menu-item>
    <nz-menu-item>
      <a class="ant-dropdown-link" [routerLink]="'/carts'">Carts</a>
    </nz-menu-item>
  </div>
  <nz-menu-item>
    <nz-dropdown [nzTrigger]="'click'" nzPlacement="bottomRight">
      <a class="ant-dropdown-link" nz-dropdown [routerLink]="'/carts'">
        <i nz-icon nzType="shopping-cart" nzTheme="outline"></i>
        <nz-badge [nzCount]="cartService.getTotalItemCount()">
          <span>Cart</span>
        </nz-badge>
      </a>
      <div nz-menu>
        <div
          *ngIf="(cartService.filteredCartList$ | async) || []; else emptyCart"
        >
          <div class="cart-footer">
            <p>
              <strong>Total:</strong>
              {{ cartService.getTotalPrice() | currency }}
            </p>
          </div>
        </div>
        <ng-template #emptyCart>
          <p>Your cart is empty.</p>
        </ng-template>
      </div>
    </nz-dropdown>
  </nz-menu-item>
</nz-menu>
